{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: 'About page by @tj_fogarty' },
  { name: 'og:url', value: '/about' }
] %}

{% set metaTitle = 'About' %}

{% block content %}
<h1 class="mt-0">About</h1>

<div class="clearfix">
  <img src="https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=250" sizes="(min-width: 600px) 250px, 100vw" srcset="https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=250 250w, https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=300 300w, https://gravatar.com/avatar/1148b889a6bb77a67f86f3976bceb9bb?s=550 550w" class="rounded-full md:ml-2 md:float-right" style="max-width: 250px; shape-outside: circle(50%);" />

  <p>I'm TJ, a web developer from Limerick, Ireland and living/surviving in Waterford. I mostly hang around the front-end development side of things, but I know enough to be dangerous with the likes of PHP and Node as well.</p>

  <p>I've had <a href="https://css-tricks.com/timber-and-twig-reignited-my-love-for-wordpress/" target="_blank" rel="noopener">an article published on CSS-Tricks</a>, <a href="https://codepen.io/spark/63" target="_blank" rel="noopener">had work featured on CodePen Spark</a>, and <a href="https://tympanus.net/codrops/collective/collective-390/" target="_blank" rel="noopener">an article featured in a Codrops Collective</a>.</p>
  
  <ul>
    <li>
      <a href="https://twitter.com/tj_fogarty" target="_blank" rel="noopener">
        Twitter
      </a>
    </li>

    <li>
      <a href="https://github.com/tjFogarty" target="_blank" rel="noopener">
        GitHub
      </a>
    </li>

    <li>
      <a href="https://codepen.io/tjFogarty/" target="_blank" rel="noopener">
        CodePen
      </a>
    </li>
  </ul>
</div>


<h2 id="instagram">Instagram</h2>

{% cache %}
  <ul class="c-gallery">
    {% for media in craft.picPuller.media_recent({ 'user_id' : 1 }) %}
      {% if media.status == TRUE %}
        <li class="c-gallery__item">
          <a href="{{ media.link }}" rel="noopener" target="_blank" class="c-gallery__link">
            <img src="{{ media.thumbnail }}" alt="{{ media.caption_only }}" class="c-gallery__image" decoding="async" width="{{ media.thumbnail_width }}px" height="{{ media.thumbnail_height }}px">
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endcache %}

{% endblock %}