{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: 'Projects by @tj_fogarty' },
  { name: 'og:url', value: '/projects' }
] %}

{% set metaTitle = 'Projects' %}

{% block content %}
<div class="l-container">
  <h1>{{ entry.title }}</h1>

  {{ entry.postContent }}

  <ul class="c-projects">
  {% for block in entry.projectList.all() %}
    <li class="c-projects__item">
      <div class="c-projects__item-text">
        <h2 class="c-projects__item-title">{{ block.projectTitle }}</h2>
        {{ block.description }}
      </div>
      
      {% set projectImage = block.image.one() %}
      {% if projectImage %}
      <img src="{{ projectImage.getUrl({ width: 460, height: 270, mode: 'crop', position: 'top-left', format: 'jpg' }) }}" alt="{{ projectImage.title }}" class="c-projects__item-image" decoding="async">
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}