{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: entry.title ~ ' by @tj_fogarty' },
  { name: 'og:url', value: entry.url }
] %}

{% set metaTitle = entry.title %}

{% block content %}
<div class="l-container">
  <article class="c-post" itemscope itemtype="http://schema.org/Article">
    <time class="c-post__date" itemprop="datePublished" datetime="{{ entry.postDate.date | date('Y-m-d') }}">{{ entry.postDate | date('d F Y') }}</time>

    <h1 itemprop="name headline">{{ entry.title | typogrify }}</h1>

    <div class="visuallyhidden">
      <p itemprop="author">{{ entry.author.firstName }} {{ entry.author.lastName }}</p>
      <p itemprop="publisher">{{ entry.author.firstName }} {{ entry.author.lastName }}</p>
    </div>

    {{ entry.postContent | typogrify }}

    {% set cats = entry.categories.all() %}

    {% if cats %}
      <small>Categories:</small>
      <ul class="list-reset inline-flex">
        {% for category in cats %}
        <li class="mr-3">
          <a href="{{ category.url }}">
            <small>
              {{ category.title }}
            </small>
          </a>
        </li>
        {% endfor %}
      </ul>

      {% include 'components/_related-posts' with { categories: cats, ignoreId: entry.id } %}
    {% endif %}
  </article>
</div>
{% endblock %}