{% extends 'layouts/default' %}

{% set socialTags = [
  { name: 'og:title', value: entry.title ~ ' by @tj_fogarty' },
  { name: 'og:url', value: entry.url }
] %}

{% set metaTitle = entry.title %}

{% block content %}
  <article class="c-post h-entry">
    <h1 class="mt-0 p-name">{{ entry.title | typogrify }}</h1>

    <time class="c-post__date dt-published" datetime="{{ entry.postDate.date }}">{{ entry.postDate | date('d M Y') }}</time>

    <div class="e-content">
      {{ entry.postContent | typogrify }}
    </div>

    {% set cats = entry.categories.all() %}

    {% if cats %}
      <small>Categories:</small>
      <ul class="list-reset inline-flex">
        {% for category in cats %}
        <li class="mr-3">
          <a href="{{ category.url }}">
            <small>
              {{ category.title }}
            </small>
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
{% endblock %}