<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    {% if craft.app.config.general.devMode %}
    <title>TJ Fogarty | DEV</title>
    <style>
      html {
        border: 5px solid #b4d455;
        width: 100%;
        height: 100%;
      }
    </style>
    {% else %}
    <title>TJ Fogarty | Web Developer</title>
    {% endif %}
    <meta name="description" content="Web Developer from Limerick, Ireland and living in Waterford.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" href="{{ mix('css/app.css') }}" as="style" onload="this.onload = null; this.rel = 'stylesheet'; document.body.classList.add('css-loaded');">

    <style>
      body {
        opacity: 0;
        transition: opacity ease 0.4s;
      }
      
      .css-loaded {
        opacity: 1;
      }
    </style>
    
    <script>
      /** css preload polyfill - https://github.com/filamentgroup/loadCSS/blob/v2.0.1/src/cssrelpreload.js */
      (function(w){"use strict";if(!w.loadCSS){w.loadCSS=function(){}}
      var rp=loadCSS.relpreload={};rp.support=(function(){var ret;try{ret=w.document.createElement("link").relList.supports("preload")}catch(e){ret=!1}
      return function(){return ret}})();rp.bindMediaToggle=function(link){var finalMedia=link.media||"all";function enableStylesheet(){link.media=finalMedia}
      if(link.addEventListener){link.addEventListener("load",enableStylesheet)}else if(link.attachEvent){link.attachEvent("onload",enableStylesheet)}
      setTimeout(function(){link.rel="stylesheet";link.media="only x"});setTimeout(enableStylesheet,3000)};rp.poly=function(){if(rp.support()){return}
      var links=w.document.getElementsByTagName("link");for(var i=0;i<links.length;i++){var link=links[i];if(link.rel==="preload"&&link.getAttribute("as")==="style"&&!link.getAttribute("data-loadcss")){link.setAttribute("data-loadcss",!0);rp.bindMediaToggle(link)}}};if(!rp.support()){rp.poly();var run=w.setInterval(rp.poly,500);if(w.addEventListener){w.addEventListener("load",function(){rp.poly();w.clearInterval(run)})}else if(w.attachEvent){w.attachEvent("onload",function(){rp.poly();w.clearInterval(run)})}}
      if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}
      else{w.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this))
    </script>
    
    <noscript>
      <link rel="stylesheet" href="{{ mix('css/app.css') }}">
      <style>
        body {
          opacity: 1 !important;
        }
      </style>
    </noscript>
  </head>
  <body>
    {% include 'components/navigation' %}

    <main class="container mx-auto p-6">
      {% block content %}{% endblock %}
    </main>
    
    <script src="{{ mix('js/manifest.js') }}" defer></script>
    <script src="{{ mix('js/vendor.js') }}" defer></script>
    <script src="{{ mix('js/main.js') }}" defer></script>
  </body>
</html>
