<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if craft.app.config.general.devMode %}
      {% if metaTitle is defined %}
      <title>DEV | {{ metaTitle }} by TJ Fogarty</title>
      {% else %}
      <title>TJ Fogarty | DEV</title>
      {% endif %}
      <style>
        html {
          border: 5px solid #b4d455;
          width: 100%;
          height: 100%;
        }
      </style>
    {% else %}
      {% if metaTitle is defined %}
      <title>{{ metaTitle }} by TJ Fogarty</title>
      {% else %}
      <title>TJ Fogarty | Web Developer</title>
      {% endif %}
    <meta name="description" content="Web Developer from Limerick, Ireland and living in Waterford.">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GVfTcYpZR7Iujvbox7Vft-ghdIbHmZmVwoRADA880Jc" />

    {{ mix('/assets/css/app.css', true, true) | raw }}

    <link rel="preload" href="{{ mix('/assets/js/manifest.js') | replace({'//' : '/' }) }}" as="script" crossorigin>
    <link rel="preload" href="{{ mix('/assets/js/vendor.js') | replace({'//' : '/' }) }}" as="script" crossorigin>
    <link rel="preload" href="{{ mix('/assets/js/main.js') | replace({'//' : '/' }) }}" as="script" crossorigin>
    <link rel="preload" href="/fonts/raleway.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/playfair.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="dns-prefetch" href="https://ws.audioscrobbler.com/">

    <meta name="twitter:site" content="@tj_fogarty">
    <meta property="og:site_name" content="TJ Fogarty">

    {% if socialTags is defined %}
      {% for prop in socialTags %}
        <meta property="{{ prop.name}}" content="{{ prop.value }}">
      {% endfor %}
    {% endif %}

    {% if not craft.app.config.general.devMode %}
      <script>
        (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
        ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
        ;c.parentNode.insertBefore(a,c)
        })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

        galite('create', 'UA-110493614-1', 'auto');
        galite('send', 'pageview');
      </script>
    {% else %}
      <script>
        function galite() {console.log('galite', arguments)}
      </script>
    {% endif %}

  </head>
  <body>
    {% include 'components/navigation' %}
    {% include 'components/icons' %}

    <main class="l-container">
      {% block content %}{% endblock %}
    </main>

    <div class="c-now-playing">
      <button aria-label="See what I'm currently listening to" type="button" class="c-now-playing__trigger js-lt-trigger">
        <svg class="c-now-playing__icon">
          <use xlink:href="#music"></use>
        <svg>
      </button>
    </div>

    <script src="{{ mix('assets/js/manifest.js') | replace({'//' : '/' }) }}" defer></script>
    <script src="{{ mix('assets/js/vendor.js') | replace({'//' : '/' }) }}" defer></script>
    <script src="{{ mix('assets/js/main.js') | replace({'//' : '/' }) }}" defer></script>

    {% if not craft.app.config.general.devMode %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js', { scope: './' });
        });
      }
    </script>
    {% endif %}

    {% include 'components/footer' %}

    {% include 'components/search' %}

  </body>
</html>