<!doctype html>
<html lang="en" {% include 'components/_style-switcher' %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {% if craft.app.config.general.devMode %}
      {% if metaTitle is defined %}
      <title>️⚠️ DEV | {{ metaTitle }} by TJ Fogarty</title>
      {% else %}
      <title>⚠️ TJ Fogarty | DEV</title>
      {% endif %}
    {% else %}
      {% if metaTitle is defined %}
      <title>{{ metaTitle }} by TJ Fogarty</title>
      {% else %}
      <title>TJ Fogarty | Web Developer</title>
      {% endif %}
    <meta name="description" content="Web Developer from Limerick, Ireland and living in Waterford.">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GVfTcYpZR7Iujvbox7Vft-ghdIbHmZmVwoRADA880Jc" />

    {{ mix('/assets/css/app.css', true, true) | raw }}

    <link rel="preload" href="/assets/js/main.js" as="script" crossorigin>

    <meta name="twitter:site" content="@tj_fogarty">
    <meta property="og:site_name" content="TJ Fogarty">

    {% if socialTags is defined %}
      {% for prop in socialTags %}
        <meta property="{{ prop.name}}" content="{{ prop.value }}">
      {% endfor %}
    {% endif %}

    {% if not craft.app.config.general.devMode %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110493614-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110493614-1');
    </script>
    {% endif %}

  </head>
  <body>
    {% include 'components/_dev-warning' %}
    {% include 'components/_navigation' %}
    {% include 'components/_icons' %}

    <main>
      {% block content %}{% endblock %}
    </main>

    <script src="/assets/js/main.js" defer></script>

    {% if not craft.app.config.general.devMode %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js');
        });
      }
    </script>
    {% endif %}

    {% include 'components/_footer' %}

    {% include 'components/_search' %}

  </body>
</html>