{% extends 'layouts/default' %}

{% block content %}
<h1 class="mt-0">Contact</h1>

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors list-reset">
            {% for error in errors %}
                <li>
                    <p class="text-red">
                        {{ error }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" action="" class="max-w-md mt-4 js-contact-form" accept-charset="UTF-8">
    {{ csrfInput() }}
    <input type="hidden" name="action" value="contact-form/send">
    <input type="hidden" name="redirect" value="{{ 'contact/thanks'|hash }}">

    <label for="from-name">Your Name</label>
    <input id="from-name" type="text" name="fromName" value="{{ message.fromName ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

    <label for="from-email">Your Email</label>
    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" value="{{ message.subject ?? '' }}">
    {{ message is defined and message ? errorList(message.getErrors('subject')) }}

    <label for="message">Message</label>
    <textarea rows="10" cols="40" id="message" name="message">{{ message.message ?? '' }}</textarea>
    {{ message is defined and message ? errorList(message.getErrors('message')) }}

    <button type="submit" value="Send" class="c-btn c-btn-primary">Send</button>
</form>
{% endblock %}