{% extends 'layouts/default' %}

{% block content %}
  {% set heroImage = entry.heroImage.one() %}
  <div class="c-hero">
    <div class="c-hero__content">
      <div class="l-container">
        <h1 class="c-hero__title">{{ entry.title }}</h1>
      </div>
    </div>
    <img
      sizes="100vw"
      srcset="
      {{ heroImage.getUrl({ quality: 20, width: 200 }) }} 200w,
      {{ heroImage.getUrl({ quality: 20, width: 423 }) }} 423w,
      {{ heroImage.getUrl({ quality: 20, width: 594 }) }} 594w,
      {{ heroImage.getUrl({ quality: 20, width: 738 }) }} 738w,
      {{ heroImage.getUrl({ quality: 20, width: 874 }) }} 874w,
      {{ heroImage.getUrl({ quality: 20, width: 991 }) }} 991w,
      {{ heroImage.getUrl({ quality: 20, width: 1102 }) }} 1102w,
      {{ heroImage.getUrl({ quality: 20, width: 1212 }) }} 1212w,
      {{ heroImage.getUrl({ quality: 20, width: 1315 }) }} 1315w,
      {{ heroImage.getUrl({ quality: 20, width: 1408 }) }} 1408w,
      {{ heroImage.getUrl({ quality: 20, width: 1575 }) }} 1575w,
      {{ heroImage.getUrl({ quality: 20, width: 1600 }) }} 1600w"
      src="{{ heroImage.getUrl({ quality: 20, width: 1000 }) }}"
      alt="{{ heroImage.title }}"
      decoding="async"
      class="c-hero__image">
  </div>

  <div class="l-container l-homepage">
    <div>
      {% cache %}
      {% include 'posts/_latest' %}
      {% endcache %}
    </div>

    <div>
      {{ entry.postContent }}
    </div>
  </div>
{% endblock %}