<div class="c-post c-post--preview">
  <h2 class="c-post__title c-post__title--preview">
    <a class="c-post__title-link" href="/{{ post.slug }}">{{ post.title | typogrify }}</a>
  </h2>
  <time class="c-post__date" datetime="{{ post.postDate.date }}">{{ post.postDate | date('d M Y') }}</time>
  <p class="c-post__excerpt">
    {{ post.postContent | striptags | slice(0, 360) | raw }}&hellip;
  </p>
</div>